<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Document</title>
	<script src="./vue.js"></script>
</head>

<body>

	<div id="app">
		<p>{{ message }}</p>
	</div>

	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>

	<div id="app-3">
		<p v-if="seen">now u see me!</p>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">reverse message</button>
	</div>

	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>

	<div id="app-7">
		<ol>
			<!-- Now we provide each todo-item with the todo object it's representing,so that its content can be dynamic. We also need to provide each compoent with a "key",which will ba explained later. -->
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>

	<div id="watch-example">
		<p>
			Ask a yes/no question
			<input v-model="question">
		</p>
		<p>{{ answer }}</p>
	</div>

	<div id="todo-list">
		<input type="text" v-model="inputValue" />
		<button v-on:click="handleBtnClick">Submit</button>
		<ul>
			<todo-item v-bind:todo="item" v-bind:index="index" v-for="(item,index) in list" @delete="handleItemDelete">
			</todo-item>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue.js!'
			}
		})
		var app2 = new Vue({
			el: '#app-2',
			data: {
				message: 'the web is loaded at' + new Date().toLocaleString()
			}
		})
		var app3 = new Vue({
			el: '#app-3',
			data: {
				seen: true
			}
		})
		var app4 = new Vue({
			el: '#app-4',
			data: {
				todos: [{
						text: 'learn Javascript'
					},
					{
						text: 'learn Vue'
					},
					{
						text: 'create a great project'
					}
				]
			}
		})
		var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Hello Vue.js!'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		})
		var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Hello Vue!'
			}
		})

		//定义名为 todo-item 的新组件
		Vue.component('todo-item', {
			//todo-item 组件现在接受一个"prop",类似于一个自定义特性。
			//这个 prop 名为 todo
			props: ['todo', 'index'],
			template: "<li @click='handleItemClick'>{{ todo }}</li>",
			methods: {
				handleItemClick: function () {
					this.$emit("delete", this.index)
				}
			}
		})

		var app7 = new Vue({
			el: '#app-7',
			data: {
				groceryList: [{
						id: 0,
						text: 'Vegetables'
					},
					{
						id: 1,
						text: 'Cheese'
					},
					{
						id: 2,
						text: 'Whatever else humans are supposed to eat'
					}
				]
			}
		})

		var watchExampleVM = new Vue({
			el: '#watch-example',
			data: {
				question: '',
				answer: 'I cannot give you an answer until you ask a question'
			},
			watch: {
				question: function (newQuestion, oldQuestion) {
					this.answer = 'Waiting for you to stop typing...'
					this.debouncedGetAnswer()
				}
			},
			created: function () {
				this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
			},
			methods: {
				getAnswer: function () {
					if (this.question.indexOf('?') === -1) {
						this.answer = 'Questions usually contain a question mark. ;-)'
						return
					}
					this.answer = 'Thinking...'
					var vm = this
					axios.get('https://yesno.wtf/api').then(function (respond) {
						vm.answer = _.capitalize(response.data.answer)
					}).catch(function (error) {
						vm.answer = 'Error! Could not reach the API.' + error
					})

				}
			}
		})

		var app8 = new Vue({
			el: '#todo-list',
			data: {
				list: [],
				inputValue: ''
			},
			methods: {
				handleBtnClick: function () {
					this.list.push(this.inputValue)
					this.inputValue = ''
				},
				handleItemDelete: function (index) {
					this.list.splice(index, 1)
				}
			}
		})
	</script>
</body>

</html>

<input type="text" v-model="something">
<!--等价于-->
<input type="text" v-bind:value="something" v-on:input="something = $event.target.value">