<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>动态组件与v-once指令</title>
	<script src='./vue.js'></script>
</head>
<body>
	<div id="root">
		<!-- 动态组件 component，根据is绑定的type值显示不同的组件 -->
		<component :is="type"></component>
		<child-one v-if="type" === 'child-one'></child-one>
		<child-two v-if="type" === 'child-two'></child-two>
		<button @click="handleBtnClick">change</button>
	</div>

	<script>
		// v-once 可以提高静态内容的展示效率
		Vue.component('child-one',{
			template:'<div v-once>child-one</div>'
		})

		Vue.component('child-two',{
			template:'<div>child-two</div>'
		})

		var vm = new Vue({
			el:'#root',
			data:{
				// 默认显示组件
				type:'child-one'
			},
			methods:{
				handleBtnClick:function(){
					this.type = (this.type === 'child-one' ? 
						'child-two': 'child-one')
				}
			}
		})
	</script>
</body>
</html>